@{
    ViewData["Title"] = "Home Page";
}

<img class="user-image" src="/images/user.png">

<div class="row">
    <div>
        <h2>Manage user accounts:</h2>
        <ul>
            <li> Create new or edit/delete already existed</li>
            <li> Click User List to create new account</li>
            <li> Click User List to manage already created accounts.</li>
        </ul>
    </div>
</div>
